body {
    background: white url("twitter.png") no-repeat;center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}
.page-header img {
  float: right;
  width: 75px;
  height: 75px;
  background: #00ffff;
}

.page-header {
    background-color:#00FFFF;
    margin-top: 0;
    padding: 20px 20px 20px 20px;
}
h1 {
    font-family: sans-serif;
    color:#FF0000;
}

.content {
    margin-left: 40px;
}

h2 {
    font-family: sans-serif;
    color:#ffffff;


}




